<footer class="page-footer font-small bg-secondary pt-4">
    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class="text-light">Siga nossas redes sociais</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <ul class="social-network">
                    <li><a href="https://www.facebook.com/prefeiturademanaus" target="blank" class="icoFacebook" title="Facebook">
                        <fa-icon [icon]="faFacebook"></fa-icon>
                    </a></li>
                    <li><a href="https://www.instagram.com/prefeiturademanaus" target="blank" class="icoInstagram" title="Instagram">
                        <fa-icon [icon]="faInstagram"></fa-icon>
                    </a></li>
                    <li><a href="https://twitter.com/PrefManaus" target="blank" class="icoTwitter" title="Twitter">
                        <fa-icon [icon]="faTwitter"></fa-icon>
                    </a></li>
                    <li><a href="https://www.youtube.com/user/semcommanaus" target="blank" class="icoYoutube" title="YouTube">
                        <fa-icon [icon]="faYoutube"></fa-icon>
                    </a></li>
                    <li><a href="https://www.linkedin.com/company/prefeitura-municipal-de-manaus" target="blank" class="icoLinkedin" title="LinkedIn">
                        <fa-icon [icon]="faLinkedin"></fa-icon>
                    </a></li>
                    <li><a href="https://www.flickr.com/photos/prefeiturademanaus/" target="blank" class="icoFlickr" title="Flickr">
                        <fa-icon [icon]="faFlickr"></fa-icon>
                    </a></li>
                    <li><a href="https://soundcloud.com/prefeiturademanaus" target="blank" class="icoSoundcloud" title="SoundCloud">
                        <fa-icon [icon]="faSoundcloud"></fa-icon>
                    </a></li>
                    
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright bg-dark text-center py-2">
        <span class="text-light"> &copy; 2021 Copyright: </span>
        <a href="https://www.manaus.am.gov.br" target="_blank" class="text-light">Prefeitura de Manaus</a>
    </div>
</footer>
