<div class="container-fluid">
    <div class="container col-md-6 mt-5 justify-content-center">
      <div class="d-grid gap-2 d-md-flex justify-content-md-center">
        <button class="btn btn-success text-center justify-content-center mb-3" type="button" data-bs-toggle="modal"
        data-bs-target="#exampleModal" (click)="clickAddDocument()">NOVO CADASTRO</button>
      </div>
      <h2 class="text-center mb-2 text-monospace">CONTROLE DE CADASTROS</h2>
      <div class="container">
        <div class="card mb-4" *ngFor="let list of documentData">
          <div class="card-header">
              <h2 class="card-title text-center">CADASTRO Nº: {{list.id}}</h2>
              <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button class="btn btn-outline-dark btn-sm" type="button" data-bs-toggle="modal"
                data-bs-target="#exampleModal" (click)="editDocument(list)">EDITAR</button>
                <!-- <button type="button" class="btn btn-outline-warning btn-sm" disabled>Arquivar</button> -->
                <button type="button" class="btn btn-outline-danger btn-sm" (click)="deleteDocument(list)">EXCLUIR</button>
              </div>
          </div>
          <div class="card-body">
              <p class="card-text">NOME: {{list.nome}}</p>
              <p class="card-text">O QUE FOI PERDIDO: {{list.documento}}</p>
              <p class="card-text">LOCAL DE RETIRADA: {{list.local}}</p>
          </div>
        </div>
      </div>
      </div>
</div>

<app-scroll></app-scroll>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title text-center text-monospace" id="exampleModalLabel">INFORMAÇÕES DE CADASTRO</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formValue">
          <div class="mb-3">
            <label for="inputName" class="form-label">NOME</label>
            <input type="text" formControlName="nome" class="form-control" id="inputName" aria-describedby="nomelHelp"
            [ngModel]="inputName" (ngModelChange)="inputName = $event.toUpperCase()">
          </div>
          <div class="mb-3">
            <label for="textareaDocument" class="form-label">O QUE FOI PERDIDO?</label>
            <textarea type="text" formControlName="documento"class="form-control" id="textareaDocument"
            aria-describedby="documentlHelp" [ngModel]="textareaDocument" (ngModelChange)="textareaDocument = $event.toUpperCase()"></textarea>
          </div>
          <div class="form-group mt-2">
            <label for="local" class="text-monospace">LOCAL DE RETIRADA</label>
            <select formControlName="local" type="text" name="local" id="local" class="form-select">
              <!-- <option selected>Escolha abaixo</option> -->
              <option value="PAC ALVORADA">1 - PAC ALVORADA</option>
              <option value="PAC CIDADE NOVA">2 - PAC CIDADE NOVA</option>
              <option value="PAC COMPENSA">3 - PAC COMPENSA</option>
              <option value="PAC EDUCANDOS">4 - PAC EDUCANDOS</option>
              <option value="PAC PORTO">5 - PAC PORTO</option>
              <option value="PAC SÃO JOSÉ">6 - PAC SÃO JOSÉ</option>
              <option value="PAC SHOPPING PHELIPPE DAOU">7 - PAC SHOPPING PHELIPPE DAOU</option>
              <option value="PAC SHOPPING VIA NORTE">8 - PAC SHOPPING VIA NORTE</option>
            </select>
        </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button"id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">VOLTAR</button>
        <button type="button" class="btn btn-primary" *ngIf="showAdd" (click)="postDocumentDetails()">ADICIONAR</button>
        <button type="button" class="btn btn-primary" *ngIf="showUpdate" (click)="updateDocumentDetails()">ATUALIZAR</button>
      </div>
    </div>
  </div>
</div>
