<div class="container">
    <div class="row mt-5 mb-5">
        <div class="col-md-12">
            <h1 class="text-center">Portal de Achados e Perdidos</h1>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-md-12">
            <p class="text-center">Este portal é dedicado para a população de Manaus que perdeu seus documentos, 
            onde foram encontrados e indicando onde podem ser retirados.</p>
            <p class="text-center">Se você encontrou algum documento, dirija-se 
            ao PAC mais próximo e entregue no setor de Achados e Perdidos.</p>
        </div>
    </div>

    <!-- Efeito scroll na imagem -->
    <div class="parallax"></div>

    <div class="row mt-5 mb-5">
        <div class="col-md-12 d-flex justify-content-center">
            <button class="btn btn-outline-dark" routerLink='/feed'>Veja a lista</button>
        </div>
    </div>
</div>