<div class="container">
  <div class="row mb-5 mt-5">
    <div class="col-md-6 offset-md-3">
      <h3 class="text-center mb-4 text-monospace">Entre em contato conosco</h3>
      <form class="form-group" [formGroup]="form" method="post" (ngSubmit)="onSubmit()">
          <div class="form-group mt-2">
              <label for="nome">Nome</label>
              <input input type="text" class="form-control" id="nome" placeholder="Digite seu nome"
                matInput [formControl]="name" required>
              <!-- <mat-error *ngIf="name.invalid">Digite o seu nome</mat-error> -->
          </div>
          <div class="form-group mt-2">
              <label for="email">Endereço de e-mail</label>
              <input type="email" class="form-control" id="email"
                matInput [formControl]="email" placeholder="nome@exemplo.com" required>
              <!-- <mat-error *ngIf="email.invalid">Coloque um endereço de e-mail válido</mat-error> -->
              <!-- <input type="email" class="form-control" id="email" placeholder="nome@exemplo.com"> -->
          </div>
          <div class="form-group mt-2">
              <label for="mensagem">Mensagem</label>
              <textarea matInput [formControl]="message" maxlength="256" class="form-control"
                placeholder="Escreva sua mensagem aqui" required></textarea>
                <mat-hint align="end"> {{message.value?.length || 0}}/256 </mat-hint>
                <!-- <mat-error *ngIf="message.invalid">Digite sua mensagem</mat-error> -->
          </div>
          <button class="btn btn-outline-dark" [disabled]="isLoading"
            type="submit">Enviar</button>
          <input [formControl]="honeypot" class="hidden" type="text" />
          <div [ngClass]="!submitted? 'hidden' : 'visible'" class="center-text">
            <span>{{responseMessage}}</span>
          </div>
      </form>
    </div>
  </div>
</div>

<!-- NOVO -->

<!-- <div class="container">
  <div class="row mb-5 mt-5">
    <div class="col-md-6 offset-md-3">
      <h3 class="text-center mb-4 text-monospace">Entre em contato conosco</h3>
      <form class="contact" [formGroup]="form" method="post" (ngSubmit)="onSubmit()">
          <div class="form-group mb-2">
            <mat-form-field>
              <mat-label>Seu nome</mat-label>
              <input matInput [formControl]="name" required>
              <mat-error *ngIf="name.invalid">Digite o seu nome</mat-error>
            </mat-form-field>
          </div>
          <div class="form-group mb-2">
              <mat-form-field>
                <mat-label>Seu e-mail</mat-label>
                <input matInput [formControl]="email" placeholder="email@examplo.com" required>
                <mat-error *ngIf="email.invalid">Coloque um endereço de e-mail válido</mat-error>
              </mat-form-field>
          </div>
          <div class="form-group mb-2">
              <mat-form-field>
                <mat-label>Sua menssagem</mat-label>
                <textarea matInput [formControl]="message" maxlength="256" placeholder="Escreva sua mensagem aqui" required></textarea>
                <mat-hint align="end"> {{message.value?.length || 0}}/256</mat-hint>
                <mat-error *ngIf="message.invalid">Digite sua mensagem</mat-error>
              </mat-form-field>
          </div>
          <button [disabled]="isLoading" class="submit btn-outline-dark" type="submit">Enviar</button>
            <input [formControl]="honeypot" class="hidden" type="text" />
            <div [ngClass]="!submitted? 'hidden' : 'visible'" class="center-text">
              <span>{{responseMessage}}</span>
            </div>
      </form>
    </div>
  </div>
</div> -->
